@model IEnumerable<TestesBeneficios.Domain.Entidades.Beneficiario>

<!DOCTYPE html>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Beneficiários</h4>
        <p class="card-description">

            <a asp-action="Create" type="button" class="btn btn-inverse-secondary btn-fw">Criar</a>
        </p>
        <div class="table-responsive">
            <table id ="tblLista" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cpf)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeMae)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rg)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cpf)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeMae)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rg)
                            </td>
                           <td>
                               @item.DataNascimento.ToShortDateString()
                           </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-inverse-secondary btn-fw">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-inverse-secondary btn-fw">Detalis</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-inverse-secondary btn-fw">Deletar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script>$('#tblLista').DataTable()</script>
}
