@model IEnumerable<TestesBeneficios.Domain.DTO.SimulacaoDTO>




<div class="card">
    <div class="card-body">
        <h4 class="card-title">Simulacao</h4>
        <p class="card-description">

        <p>
            <a asp-action="Create" type="button" class="btn btn-inverse-secondary btn-fw">Criar</a>
        </p>
        <div class="table-responsive">
            <table id ="tblLista" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                                @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.Cpf)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.AbrangenciaProduto)
                        </th>

                      
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Cpf)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.AbrangenciaProduto)
                            </td>

                           
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-inverse-secondary btn-fw">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-inverse-secondary btn-fw">Detalis</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-inverse-secondary btn-fw">Deletar</a>
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
        <script>$('#tblLista').DataTable()</script>
}