@model IEnumerable<TestesBeneficios.Domain.DTO.ProdutoFaixaEtariaDTO>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Produto Abrangencia</h4>
        <p class="card-description">

            <a asp-action="Create" type="button" class="btn btn-inverse-secondary btn-fw">Criar</a>
        </p>
        <div class="table-responsive">
            <table id="tblLista" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FaixaDe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FaixaAte)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Preco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produto.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produto.Abrangencia)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FaixaDe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FaixaAte)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Preco)
                            </td>
                            <th>
                                @Html.DisplayFor(modelItem => item.Produto.Nome)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.Produto.Abrangencia)
                            </th>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-inverse-secondary btn-fw">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-inverse-secondary btn-fw">Detalis</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-inverse-secondary btn-fw">Deletar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script>$('#tblLista').DataTable()</script>
}
